$theme-color: #2b6d0b;
$theme-color-light: #54b178;
$open-sans: 'Open Sans', sans-serif;
$rajdhani: 'Rajdhani', sans-serif;

body {}

.layout {
    margin-top: 58px;
}

.navbar {
    background: #ffffffd9;
    backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;

    .mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .menu-bar-icon {
            svg {
                font-size: 28px;
            }
        }

        .logo {
            display: flex;
            align-items: center;
            font-weight: bold;

            img {
                margin-right: 10px;
            }
        }
    }
}

.button {
    margin: 10px 0;
    background-color: $theme-color-light;
    color: #fff;
    border: 1px solid $theme-color-light;
    border-radius: 2px;
    padding: 6px 10px;
    font-weight: bold;
    font-family: $rajdhani;
    font-size: 20px;

    &.outlined {
        background-color: transparent;
        color: $theme-color-light;
        border: 1px solid $theme-color-light;
    }
}

.image-slider {
    .item {
        display: flex;
        background-color: #8B0202;
        color: #fff;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 0 1px 3px #e1e1e1db;
        overflow: hidden;
        transition: 0.4s all;
        position: relative;
        height: 220px;

        .left {
            min-width: 120px;
            max-width: 500px;
            margin-right: 30px;

            .img {
                background-color: #fff;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 20px;
                background-repeat: no-repeat;
                transform: scale(1.2);
                width: 100%;
                border-radius: 0 91px 109px 0;
                background-position: center;
                transition: 0.4s all;
                background-size: contain;

                img {
                    width: 100%;
                    opacity: 0;
                }
            }
        }

        .right {
            padding: 20px 20px 20px 0;
            position: relative;

            .title {
                font-size: 30px;
                font-weight: 700;
                font-family: $rajdhani;
            }

            p {
                font-size: 12px;
                font-family: $open-sans;
                color: #fffffff0;

                b {
                    color: #fff;
                }
            }

            .explor {
                position: absolute;
                bottom: 10px;

                button {
                    background-color: #fff;
                    color: #000;
                    padding: 2px 26px;
                    font-weight: bold;
                }
            }
        }

        .logo {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 10px;

            img {
                border-radius: 50%;

            }
        }

    }
}

.search-bar {
    margin: 10px;
    display: flex;

    input {
        border-radius: 10px;
        width: 90%;
        background: #f0f6f2;
        padding: 10px 9px;

        &:focus {
            outline: 1px solid $theme-color-light;
        }
    }

    button {
        width: 50px;
        height: 100%;
        background-color: $theme-color-light;
        border-radius: 10px;
        margin-left: 10px;
        box-shadow: 0 0 10px 2px #54b17867;
    }

    svg {
        color: #fff;
    }
}

.heading {
    font-weight: bold;
    font-family: $rajdhani;
    text-transform: capitalize;
}

h4.heading {
    font-size: 24px;
    margin-bottom: 15px;
}

.top-categories {
    margin-top: 20px;
    padding: 10px;

    .wrap {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        padding-bottom: 10px;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        .item {
            text-align: center;
            scroll-snap-align: start;
            font-size: 14px;
            font-weight: 500;

            max-width: 100px;
            min-width: 90px;
            margin-right: 30px;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            flex-direction: column;

            .image {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: 2px solid $theme-color-light;
                margin-bottom: 6px;
                aspect-ratio: 1/1;
                display: flex;
                align-items: center;
            }
        }
    }
}

.product-card-wrap {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    margin: 10px 0px;
    padding: 0 0;
    width: 50%;
    padding: 0 5px;

    .card {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 12px 0px #c2c2c24d;
    }

    a {
        background-color: #54b17867;
        width: 70%;
        aspect-ratio: 1/1;
        width: 100%;

        img {
            width: 70%;
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: cover;
        }

    }

    .detail {
        width: 100%;
        padding-bottom: 50px;

        .name.heading {
            font-size: 26px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            span.name {
                max-width: 90%;
                text-overflow: ellipsis;
                overflow: hidden;
                text-wrap: nowrap;
                display: block;
            }
        }

        .unit {
            text-align: center;
            font-family: $open-sans;
            font-weight: 500;
            color: #585858;
            font-size: 18px;
            font-size: 15px;
            margin-left: 4px;
            text-transform: capitalize;
        }

        .location {
            margin: 10px 0 15px 0;
            text-align: center;
            font-family: $open-sans;
            font-weight: 500;
            color: #585858;
            font-size: 15px;

            svg {
                font-size: 16px;
                margin-right: 5px;
            }
        }

        .price-wrap {
            position: absolute;
            padding: 0 10px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            bottom: 0;
            width: 100%;

            .price {
                font-weight: bold;
                font-size: 18px;
            }

            .add-btn {
                box-shadow: 0 0 10px 2px #54b17867;
                background-color: $theme-color-light;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;

                svg {
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }
}

.products {
    padding: 10px;
    margin-top: 10px;


    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        .heading {
            margin-bottom: 0;
        }

        a {
            font-family: $open-sans;
            color: $theme-color-light;
        }
    }

}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;

    .wrap {
        padding: 10px 22px;
        backdrop-filter: blur(10px);
        background-color: #ffffffc9;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 20px 2px #00000052;
        border-radius: 10px;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $theme-color-light;
            font-weight: bold;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            svg {
                color: $theme-color-light;
                font-size: 26px;
                height: 30px;
            }
        }
    }
}

.footer {
    background-color: #f7f5eb;
    color: #000;
    padding-bottom: 100px;

    h5 {
        font-family: $rajdhani;
        font-weight: bold;
    }

    p,
    a {
        font-family: $open-sans;
    }

    a {
        color: #9bc437;
        font-weight: 700;
    }
}

.product-page {

    padding: 10px;

    .product-image {

        img {
            width: 100%;
            border-radius: 10px;
            aspect-ratio: 3/2;
            object-fit: cover;
        }
    }

    .item-wrap {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .left {
            width: 60%;

            h1 {
                font-size: 26px;
                color: #4a4a4a;
            }

            .unit {
                text-transform: capitalize;
            }

            .price {
                font-size: 22px;
                font-family: $rajdhani;
                font-weight: bold;
                color: #bc0000;
            }
        }

        .add-btn {
            box-shadow: 0 0 10px 2px #54b17867;
            background-color: $theme-color-light;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;

            svg {
                font-size: 16px;
                color: #fff;
            }
        }

        .quantity {
            display: flex;
            align-items: center;

            .input {
                width: 45px;
                height: 45px;
                background-color: #fff;
                background-color: #d3f3e8;
                font-size: 14px;
                color: $theme-color-light;
                font-weight: bold;
                border-radius: 4px;
            }

            button {
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                border: 2px solid $theme-color-light;

                svg {
                    color: $theme-color-light;
                }
            }
        }
    }

    .location {
        display: flex;
        align-items: center;
        font-size: 18px;

        svg {
            font-size: 20px;
            margin-right: 5px;
            width: 25px;
        }

    }


    .seller {

        svg {
            font-size: 20px;
            margin-right: 5px;
            width: 25px;
        }

        .seller-name {
            margin: 10px 0;
            display: flex;
            align-items: center;

            a {
                color: $theme-color-light;
                text-transform: capitalize;
                font-size: 18px;

            }

        }

        .seller-type {
            margin: 10px 0;
        }
    }

    .description {
        padding: 10px 0;
    }
}

.seller-profile {
    .detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;

        .image {
            width: 100px;

            img {
                padding: 5px;
                border: 2px solid $theme-color-light;
                border-radius: 50%;
                width: 100%;
            }
        }

        .about {
            margin: 20px;

            .name {
                margin-bottom: 5px;
                font-size: 20px;
            }

            .location {
                display: flex;
                align-items: center;

                svg {
                    color: $theme-color-light;
                    font-size: 18px;
                    margin-right: 5px;
                }
            }
        }

    }
}

.user-account {
    .detail {
        display: flex;
        padding: 20px 15px;
        width: 100%;

        .image {
            width: 100px;

            img {
                padding: 5px;
                border: 2px solid $theme-color-light;
                border-radius: 50%;
                width: 100%;
            }
        }

        .about {
            margin: 20px;
            text-align: left;

            .name {
                margin-bottom: 5px;
                font-size: 20px;
            }

            .location {
                display: flex;
                align-items: center;

                svg {
                    color: $theme-color-light;
                    font-size: 18px;
                    margin-right: 5px;
                }
            }
        }

    }

    .tab-panel {
        min-height: 70vh;
    }
}

.auth {
    .image {
        display: flex;
        justify-content: center;

        img {
            width: 60%;
        }
    }

    .message {
        padding: 10px 30px 0;
        font-size: 35px;

        span {
            color: $theme-color-light;
        }
    }

    .action {
        padding: 0 30px 10px;
    }

}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .login-box {
        border: 2px solid $theme-color-light;
        border-radius: 10px;
        width: 80%;
        display: flex;
        scroll-behavior: smooth;
        overflow: hidden;

        .link {
            color: $theme-color-light;
        }

        .phone {
            padding: 20px;
            min-width: 100%;
        }

        .otp {
            padding: 20px;
            min-width: 100%;

        }

        h3 {
            font-size: 26px;
            margin-bottom: 10px;
        }

        input {
            border-radius: 4px;
            width: 90%;
            background: #f0f6f2;
            padding: 10px 9px;
            margin: 10px 0;
            width: 100%;

            &:focus {
                outline: 1px solid $theme-color-light;
            }
        }

        .button {
            padding: 6px 28px;
            font-weight: normal;
            font-family: $open-sans;
            font-size: 16px;
            font-weight: bold;
        }

    }
}

.registration-page {
    padding: 10px;

    h3 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 5px;
    }
    label{
        font-size: 14px;
    }
    .input-wrapper {
        margin-bottom: 14px;
    }
    .input-box,
    select {
        border-radius: 10px;
        width: 100%;
        background: #f0f6f2;
        padding: 10px 9px;
        margin-top: 5px;
        font-size: 14px;
        &:focus {
            outline: 1px solid $theme-color-light;
        }
    }
    .button{
        width: 100%;
        border-radius: 10px;
    }
    .checkbox-wrapper{
        display: flex;
        align-items: flex-start;
        input{
            margin-right: 10px;
            margin-top: 5px;
        }
    }
}
