.layout {
  margin-top: 58px;
}

.navbar {
  background: rgba(255, 255, 255, 0.8509803922);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
.navbar .backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.568627451);
  position: fixed;
  top: 0;
  display: none;
}
.navbar .backdrop.active {
  display: block;
}
.navbar .side-menu {
  z-index: 9999;
  position: fixed;
  width: 300px;
  height: 100vh;
  top: 0;
  transition: 0.4s;
  background: #ffffff;
  left: -100%;
}
.navbar .side-menu.active {
  left: 0;
}
.navbar .side-menu .user {
  height: 60px;
  background: #54b178;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}
.navbar .side-menu .user svg {
  font-size: 24px;
  margin-right: 10px;
}
.navbar .side-menu ul li {
  padding: 10px;
  display: flex;
  align-items: center;
}
.navbar .side-menu ul li a {
  width: 100%;
}
.navbar .side-menu ul li svg {
  min-width: 25px;
  margin-right: 10px;
}
.navbar .side-menu ul li img {
  margin-right: 10px;
  width: 25px;
}
.navbar .mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navbar .mobile .menu-bar-icon svg {
  font-size: 28px;
}
.navbar .mobile .button {
  margin: 0px 0;
  border-radius: 6px;
  padding: 0px 10px;
  font-size: 16px;
  line-height: 32px;
  background: transparent;
  color: #54b178;
  border-width: 2px;
}
.navbar .mobile .logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.navbar .mobile .logo img {
  margin-right: 10px;
}

.button {
  margin: 10px 0;
  background-color: #54b178;
  color: #fff;
  border: 1px solid #54b178;
  border-radius: 2px;
  padding: 6px 10px;
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
}
.button.outlined {
  background-color: transparent;
  color: #54b178;
  border: 1px solid #54b178;
}
.button.button-red {
  background-color: #8B0202;
  border-color: #8B0202;
}
.button.button-blue {
  background-color: #0080ff;
  border-color: #0080ff;
}
.button.button-orange {
  background-color: #E8A221;
  border-color: #E8A221;
}

.image-slider .item {
  display: flex;
  background-color: #8B0202;
  color: #fff;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(225, 225, 225, 0.8588235294);
  overflow: hidden;
  transition: 0.4s all;
  position: relative;
  height: 220px;
}
.image-slider .item .left {
  min-width: 120px;
  max-width: 500px;
  margin-right: 30px;
}
.image-slider .item .left .img {
  background-color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-repeat: no-repeat;
  transform: scale(1.2);
  width: 100%;
  border-radius: 0 91px 109px 0;
  background-position: center;
  transition: 0.4s all;
  background-size: contain;
}
.image-slider .item .left .img img {
  width: 100%;
  opacity: 0;
}
.image-slider .item .right {
  padding: 20px 20px 20px 0;
  position: relative;
}
.image-slider .item .right .title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
}
.image-slider .item .right p {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.9411764706);
}
.image-slider .item .right p b {
  color: #fff;
}
.image-slider .item .right .explor {
  position: absolute;
  bottom: 10px;
}
.image-slider .item .right .explor button {
  background-color: #fff;
  color: #000;
  padding: 2px 26px;
  font-weight: bold;
}
.image-slider .item .logo {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.image-slider .item .logo img {
  border-radius: 50%;
}

.bulk-query {
  display: flex;
  background-color: #8B0202;
  color: #fff;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(225, 225, 225, 0.8588235294);
  overflow: hidden;
  transition: 0.4s all;
  position: relative;
  height: 110px;
  text-align: center;
}
.bulk-query .item {
  width: 100%;
}
.bulk-query .title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
}
.bulk-query p {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.9411764706);
}
.bulk-query p b {
  color: #fff;
}
.bulk-query .explor {
  position: absolute;
  bottom: 10px;
}
.bulk-query .explor button {
  background-color: #fff;
  color: #000;
  padding: 2px 26px;
  font-weight: bold;
}
.bulk-query .logo {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.bulk-query .logo img {
  border-radius: 50%;
}

.search-bar {
  margin: 10px;
  display: flex;
}
.search-bar input {
  border-radius: 10px;
  width: 90%;
  background: #f0f6f2;
  padding: 10px 9px;
}
.search-bar input:focus {
  outline: 1px solid #54b178;
}
.search-bar button {
  width: 50px;
  height: 100%;
  background-color: #54b178;
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 0 0 10px 2px rgba(84, 177, 120, 0.4039215686);
}
.search-bar svg {
  color: #fff;
}

.heading {
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
  text-transform: capitalize;
}

h4.heading {
  font-size: 24px;
  margin-bottom: 15px;
}

.top-categories {
  margin-top: 20px;
  padding: 0 10px;
}
.top-categories .wrap {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.top-categories .wrap .item {
  text-align: center;
  scroll-snap-align: start;
  font-size: 14px;
  font-weight: 500;
  max-width: 100px;
  min-width: 90px;
  margin-right: 30px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.top-categories .wrap .item .image {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #54b178;
  margin-bottom: 6px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
}

.no-products {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-products .heading {
  font-size: 27px;
}
.no-products p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
.no-products .icon {
  height: 100px;
  width: 100px;
  background-color: #54b178;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.no-products .icon svg {
  font-size: 60px;
  color: #fff;
}

.product-card-wrap {
  display: flex;
  flex-wrap: wrap;
}

.product-card,
.cart-item,
.order-item {
  margin: 10px 0px;
  padding: 0 0;
  width: 50%;
  padding: 0 5px;
}
.product-card .card,
.cart-item .card,
.order-item .card {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 12px 0px rgba(194, 194, 194, 0.3019607843);
}
.product-card a,
.cart-item a,
.order-item a {
  background-color: rgba(84, 177, 120, 0.4039215686);
  width: 70%;
  aspect-ratio: 1/1;
  width: 100%;
}
.product-card a img,
.cart-item a img,
.order-item a img {
  width: 70%;
  aspect-ratio: 1/1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-card .detail,
.cart-item .detail,
.order-item .detail {
  width: 100%;
  padding-bottom: 50px;
}
.product-card .detail .name.heading,
.cart-item .detail .name.heading,
.order-item .detail .name.heading {
  font-size: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product-card .detail .name.heading span.name,
.cart-item .detail .name.heading span.name,
.order-item .detail .name.heading span.name {
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  display: block;
}
.product-card .detail .unit,
.cart-item .detail .unit,
.order-item .detail .unit {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #585858;
  font-size: 18px;
  font-size: 15px;
  margin-left: 4px;
  text-transform: capitalize;
}
.product-card .detail .location,
.cart-item .detail .location,
.order-item .detail .location {
  margin: 10px 0 15px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #585858;
  font-size: 15px;
}
.product-card .detail .location svg,
.cart-item .detail .location svg,
.order-item .detail .location svg {
  font-size: 16px;
  margin-right: 5px;
}
.product-card .detail .price-wrap,
.product-card .detail .action-wrap,
.cart-item .detail .price-wrap,
.cart-item .detail .action-wrap,
.order-item .detail .price-wrap,
.order-item .detail .action-wrap {
  position: absolute;
  padding: 0 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
}
.product-card .detail .price-wrap .price,
.product-card .detail .action-wrap .price,
.cart-item .detail .price-wrap .price,
.cart-item .detail .action-wrap .price,
.order-item .detail .price-wrap .price,
.order-item .detail .action-wrap .price {
  font-weight: bold;
  font-size: 18px;
}
.product-card .detail .price-wrap .add-btn,
.product-card .detail .action-wrap .add-btn,
.cart-item .detail .price-wrap .add-btn,
.cart-item .detail .action-wrap .add-btn,
.order-item .detail .price-wrap .add-btn,
.order-item .detail .action-wrap .add-btn {
  box-shadow: 0 0 10px 2px rgba(84, 177, 120, 0.4039215686);
  background-color: #54b178;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}
.product-card .detail .price-wrap .add-btn svg,
.product-card .detail .action-wrap .add-btn svg,
.cart-item .detail .price-wrap .add-btn svg,
.cart-item .detail .action-wrap .add-btn svg,
.order-item .detail .price-wrap .add-btn svg,
.order-item .detail .action-wrap .add-btn svg {
  font-size: 16px;
  color: #fff;
}

.products {
  padding: 10px;
  margin-top: 10px;
}
.products .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.products .head .heading {
  margin-bottom: 0;
}
.products .head a {
  font-family: "Open Sans", sans-serif;
  color: #54b178;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 10px;
}
.bottom-nav .wrap {
  padding: 10px 22px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7882352941);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3215686275);
  border-radius: 10px;
}
.bottom-nav .wrap .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #54b178;
  font-weight: bold;
  flex: 1;
}
.bottom-nav .wrap .item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-nav .wrap .item svg {
  color: #54b178;
  font-size: 26px;
  height: 30px;
}

.footer {
  background-color: #f7f5eb;
  color: #000;
  padding-bottom: 100px;
}
.footer h5 {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
}
.footer p,
.footer a {
  font-family: "Open Sans", sans-serif;
}
.footer a {
  color: #9bc437;
  font-weight: 700;
}

.product-page {
  padding: 10px;
}
.product-page .product-image img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-page .item-wrap {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.product-page .item-wrap .left {
  width: 60%;
}
.product-page .item-wrap .left h1 {
  font-size: 26px;
  color: #4a4a4a;
}
.product-page .item-wrap .left .unit {
  text-transform: capitalize;
}
.product-page .item-wrap .left .price {
  font-size: 22px;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  color: #bc0000;
}
.product-page .item-wrap .add-btn {
  box-shadow: 0 0 10px 2px rgba(84, 177, 120, 0.4039215686);
  background-color: #54b178;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}
.product-page .item-wrap .add-btn svg {
  font-size: 16px;
  color: #fff;
}
.product-page .item-wrap .quantity {
  display: flex;
  align-items: center;
}
.product-page .item-wrap .quantity .input {
  width: 45px;
  height: 45px;
  background-color: #fff;
  background-color: #d3f3e8;
  font-size: 14px;
  color: #54b178;
  font-weight: bold;
  border-radius: 4px;
}
.product-page .item-wrap .quantity button {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 2px solid #54b178;
}
.product-page .item-wrap .quantity button svg {
  color: #54b178;
}
.product-page .location {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.product-page .location svg {
  font-size: 20px;
  margin-right: 5px;
  width: 25px;
}
.product-page a {
  color: #54b178;
  text-transform: capitalize;
  font-size: 18px;
}
.product-page .seller svg {
  font-size: 20px;
  margin-right: 5px;
  width: 25px;
}
.product-page .seller .seller-name {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.product-page .seller .seller-type {
  margin: 10px 0;
}
.product-page .description {
  padding: 10px 0;
}

.seller-profile .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
.seller-profile .detail .image {
  width: 100px;
}
.seller-profile .detail .image img {
  padding: 5px;
  border: 2px solid #54b178;
  border-radius: 50%;
  width: 100%;
}
.seller-profile .detail .about {
  margin: 20px;
}
.seller-profile .detail .about .name {
  margin-bottom: 5px;
  font-size: 20px;
}
.seller-profile .detail .about .location {
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller-profile .detail .about .location svg {
  color: #54b178;
  font-size: 18px;
  margin-right: 5px;
}

.user-account .detail {
  display: flex;
  padding: 20px 15px;
  width: 100%;
}
.user-account .detail .image {
  width: 100px;
}
.user-account .detail .image img {
  padding: 5px;
  border: 2px solid #54b178;
  border-radius: 50%;
  width: 100%;
}
.user-account .detail .about {
  margin: 20px;
  text-align: left;
}
.user-account .detail .about .name {
  margin-bottom: 5px;
  font-size: 20px;
}
.user-account .detail .about .location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-account .detail .about .location svg {
  color: #54b178;
  font-size: 18px;
  margin-right: 5px;
}
.user-account .tab-panel {
  min-height: 70vh;
}
.user-account .seller-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-account .seller-info .heading {
  font-size: 24px;
  text-align: center;
}
.user-account .seller-info .heading svg {
  color: #bc0000;
}

.auth .image {
  display: flex;
  justify-content: center;
}
.auth .image img {
  width: 60%;
}
.auth .message {
  padding: 10px 30px 0;
  font-size: 35px;
}
.auth .message span {
  color: #54b178;
}
.auth .action {
  padding: 0 30px 10px;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.login-page .login-box {
  border: 2px solid #54b178;
  border-radius: 10px;
  width: 80%;
  display: flex;
  scroll-behavior: smooth;
  overflow: hidden;
}
.login-page .login-box .link {
  color: #54b178;
}
.login-page .login-box .phone {
  padding: 20px;
  min-width: 100%;
}
.login-page .login-box .otp {
  padding: 20px;
  min-width: 100%;
}
.login-page .login-box h3 {
  font-size: 26px;
  margin-bottom: 10px;
}
.login-page .login-box input {
  border-radius: 4px;
  width: 90%;
  background: #f0f6f2;
  padding: 10px 9px;
  margin: 10px 0;
  width: 100%;
}
.login-page .login-box input:focus {
  outline: 1px solid #54b178;
}
.login-page .login-box .button {
  padding: 6px 28px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.registration-page {
  padding: 10px;
}
.registration-page h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 5px;
}

.create-profile .farm .heading,
.edit-profile .farm .heading {
  font-size: 20px;
}

.cart h3.heading,
.orders h3.heading {
  font-size: 25px;
}
.cart .button,
.orders .button {
  width: 100%;
}
.cart .subtotal,
.orders .subtotal {
  margin: 10px 0;
  display: flex;
  align-items: baseline;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.cart .subtotal .heading,
.orders .subtotal .heading {
  font-size: 26px;
  margin-left: 10px;
}
.cart .cart-item,
.cart .order-item,
.orders .cart-item,
.orders .order-item {
  width: 100%;
}
.cart .cart-item .card,
.cart .order-item .card,
.orders .cart-item .card,
.orders .order-item .card {
  flex-direction: row;
  align-items: unset;
}
.cart .cart-item .card a,
.cart .order-item .card a,
.orders .cart-item .card a,
.orders .order-item .card a {
  max-width: 40%;
  aspect-ratio: 1/1;
  min-height: 120%;
  display: flex;
}
.cart .cart-item .card a img,
.cart .order-item .card a img,
.orders .cart-item .card a img,
.orders .order-item .card a img {
  aspect-ratio: 1/1;
}
.cart .cart-item .card .detail,
.cart .order-item .card .detail,
.orders .cart-item .card .detail,
.orders .order-item .card .detail {
  padding: 10px;
}
.cart .cart-item .card .detail .name.heading,
.cart .order-item .card .detail .name.heading,
.orders .cart-item .card .detail .name.heading,
.orders .order-item .card .detail .name.heading {
  justify-content: flex-start;
  line-height: normal;
}
.cart .cart-item .card .detail .price-wrap,
.cart .order-item .card .detail .price-wrap,
.orders .cart-item .card .detail .price-wrap,
.orders .order-item .card .detail .price-wrap {
  position: relative;
  display: block;
  padding: 0;
  margin: 10px 0;
  text-transform: capitalize;
}
.cart .cart-item .card .detail .location,
.cart .order-item .card .detail .location,
.orders .cart-item .card .detail .location,
.orders .order-item .card .detail .location {
  text-align: left;
  margin: 0;
}
.cart .cart-item .card .quantity-control,
.cart .order-item .card .quantity-control,
.orders .cart-item .card .quantity-control,
.orders .order-item .card .quantity-control {
  display: flex;
  margin-top: 10px;
}
.cart .cart-item .card .quantity-control .box,
.cart .order-item .card .quantity-control .box,
.orders .cart-item .card .quantity-control .box,
.orders .order-item .card .quantity-control .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 30px;
  width: 40px;
  border-radius: 4px;
}
.cart .cart-item .card .quantity-control .button,
.cart .order-item .card .quantity-control .button,
.orders .cart-item .card .quantity-control .button,
.orders .order-item .card .quantity-control .button {
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .cart-item .card .quantity-control .delete-btn,
.cart .order-item .card .quantity-control .delete-btn,
.orders .cart-item .card .quantity-control .delete-btn,
.orders .order-item .card .quantity-control .delete-btn {
  margin-left: 5px;
}

.store h3 {
  font-size: 25px;
}
.store .quick-access-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.store .quick-access-btns .button {
  width: 47%;
  aspect-ratio: 1/1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.store .quick-access-btns .button svg {
  font-size: 50px;
}

.add-product .image-preview img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.listed-products .heading {
  font-size: 20px;
}
.listed-products .product-card .detail {
  padding-bottom: 60px;
}
.listed-products .product-card .location {
  margin: 10px 0;
}
.listed-products .product-card .action-wrap {
  justify-content: center;
}
.listed-products .product-card .action-wrap .button {
  line-height: normal;
  border-radius: 4px;
}

.checkout .item .name {
  color: #54b178;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.checkout .item .quantity {
  font-size: 14px;
}
.checkout .price {
  font-weight: bold;
  color: #4a4a4a;
}
.checkout .subtotal {
  color: #bc0000;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.checkout .note p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 14px;
}
.checkout .note p b {
  color: #bc0000;
}
.checkout .place-order button {
  width: 100%;
}

.orders .order-item .detail {
  flex-direction: column;
}
.orders .order-item .detail .price-wrap {
  margin: 2px 0 !important;
}

form label {
  font-size: 14px;
}
form .input-wrapper {
  margin-bottom: 14px;
}
form .input-box,
form select {
  border-radius: 10px;
  width: 100%;
  background: #f0f6f2;
  padding: 10px 9px;
  margin-top: 5px;
  font-size: 14px;
}
form .input-box:focus,
form select:focus {
  outline: 1px solid #54b178;
}
form .button {
  width: 100%;
  border-radius: 10px;
}
form .checkbox-wrapper {
  display: flex;
  align-items: flex-start;
}
form .checkbox-wrapper input {
  margin-right: 10px;
  margin-top: 5px;
}
form .selection-wrapper {
  display: flex;
  align-items: center;
}
form .selection-wrapper .selection-title {
  width: 50%;
}

.notifications {
  height: 80vh;
}
.notifications .detail {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}
.notifications .title {
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
  margin: 0;
}

.notify-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #54b178;
}
.notify-item .right {
  position: relative;
}
.notify-item .right svg {
  font-size: 30px;
}
.notify-item .right .time {
  position: absolute;
  top: -22px;
  right: 0;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.662745098);
  font-weight: bold;
  font-size: 14px;
}
.notify-item button {
  background-color: transparent;
  color: #54b178;
  padding: 0;
  font-size: 16px;
  border: none;
  margin: 2px 0;
}

.notify-item i.fa {
  font-size: 36px;
}

.talk-to-expert {
  display: flex;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 60px);
  width: 100%;
  position: relative;
}
.talk-to-expert .chatbox {
  width: 100vw;
}
.talk-to-expert .chatbox .chat-logo-div {
  display: flex;
  align-items: center;
  background-color: #f0f6f2;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  padding: 5px 10px;
}
.talk-to-expert .chatbox .chat-logo-div img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.talk-to-expert .chatbox .chat-sec {
  padding: 0 10px;
  max-height: calc(100% - 126px);
  overflow-y: auto;
  scroll-behavior: smooth;
}
.talk-to-expert .chatbox .chat-sec .dummy {
  width: 100%;
  height: 70px;
}
.talk-to-expert .chatbox .chat-sec .box {
  font-family: "Open Sans", sans-serif;
  max-width: 90%;
  min-width: 50%;
  color: #000;
  margin: 10px 0;
  padding: 5px 8px;
  border-radius: 5px;
  position: relative;
  padding-bottom: 25px;
}
.talk-to-expert .chatbox .chat-sec .box .time {
  position: absolute;
  color: rgba(0, 0, 0, 0.7450980392);
  right: 4px;
  bottom: 2px;
}
.talk-to-expert .chatbox .chat-sec .sender {
  display: flex;
  justify-content: flex-end;
}
.talk-to-expert .chatbox .chat-sec .sender .box {
  background-color: rgba(84, 177, 120, 0.3215686275);
}
.talk-to-expert .chatbox .chat-sec .reciver {
  display: flex;
  justify-content: flex-start;
}
.talk-to-expert .chatbox .chat-sec .reciver .box {
  background-color: rgba(0, 0, 0, 0.0549019608);
}
.talk-to-expert .chat-control {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
.talk-to-expert .chat-control .image-preview {
  position: relative;
}
.talk-to-expert .chat-control .image-preview .button {
  position: absolute;
  right: 0;
  top: 0;
}
.talk-to-expert .chat-control .wrap {
  display: flex;
  align-items: flex-end;
}
.talk-to-expert .chat-control .upload-btn-wrapper {
  position: absolute;
  padding: 0 5px;
  bottom: 15px;
}
.talk-to-expert .chat-control #image-input {
  display: none;
}
.talk-to-expert .chat-control .input-box {
  border-radius: 10px;
  width: 90%;
  background: #f0f6f2;
  padding: 10px 9px;
  margin-top: 5px;
  font-size: 14px;
  padding-left: 35px;
  outline: 1px solid #54b178;
}
.talk-to-expert .chat-control button {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 5px;
  padding: 0;
}
.talk-to-expert .chat-control button svg {
  font-size: 18px;
}

.about-us {
  padding: 10px;
}
.about-us .break {
  width: 100%;
  height: 2px;
  background-color: #54b178;
  margin: 20px 0;
}
.about-us p {
  font-family: "Open Sans", sans-serif;
}
.about-us .about-ekd {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-us .about-ekd a {
  color: #54b178;
}
.about-us .about-ekd a svg {
  font-size: 25px;
}
.about-us .about-ekd .heading {
  text-transform: unset;
  font-size: 24px;
  text-align: center;
}
.about-us .about-ekd .heading span {
  color: #2b6d0b;
}
.about-us .why-choose-us {
  margin: 10px 0;
}
.about-us .why-choose-us .heading {
  font-size: 22px;
  color: #2b6d0b;
}
.about-us .why-choose-us p {
  font-size: 14px;
}
.about-us .why-choose-us .sub-heading {
  font-size: 20px;
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
  text-transform: capitalize;
}
.about-us .business-with-us .heading {
  text-align: center;
  font-size: 22px;
  color: #2b6d0b;
}
.about-us .business-with-us .sub-heading {
  font-size: 20px;
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
  text-transform: capitalize;
  text-align: center;
}
.about-us .business-with-us ul {
  list-style: circle;
  padding-left: 20px;
  margin-top: 10px;
}
.about-us .business-with-us ul li {
  margin-bottom: 10px;
  font-size: 14px;
}
.about-us .our-team .heading {
  font-size: 24px;
  color: #2b6d0b;
  text-align: center;
}
.about-us .our-team .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.about-us .our-team .wrapper .team-card {
  border-radius: 10px;
  border: 2px solid #54b178;
  padding: 20px;
  display: flex;
  width: 240px;
  align-items: center;
  flex-direction: column;
}
.about-us .our-team .wrapper .team-card .image {
  width: 150px;
  height: 150px;
}
.about-us .our-team .wrapper .team-card .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.about-us .our-team .wrapper .team-card .detail {
  text-align: center;
  margin-top: 15px;
}
.about-us .our-team .wrapper .team-card .detail .name {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  color: #54b178;
  font-size: 28px;
}
.about-us .our-team .wrapper .team-card .detail .role {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

body:has(.talk-to-expert) .bottom-nav,
body:has(.talk-to-expert) .footer {
  display: none;
}

.swal2-container.swal2-center.swal2-backdrop-show {
  z-index: 999999;
}/*# sourceMappingURL=main.css.map */